# Ignore all _env folders
*_env/
**/*_env/
venv/
.venv/

# Ignore all .png files
*.png

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/
**/.ipynb_checkpoints/

.DS_Store
.env

# Ignore Chromedriver files
chromedriver/

# Ignores from FastAPI
.vscode
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/