selenium 
beautifulsoup4 
requests 
pandas 
ipython 
selenium-screenshot 
openai 
pinecone-client 
langchain 
langchain-openai 
tiktoken 
numpy 
scipy 
sqlalchemy==2.0.0
notebook
chromadb
asyncio
ipywidgets
pydantic
langchain-nomic
langchain-huggingface
langchain_community 
langchainhub 
langgraph
tavily-python 
sentence-transformers